*pyc
*log
*swp
.netrwhist
linkfiles/.vim
linkfiles/.ipython
linkfiles/.config/*
!linkfiles/.config/alacritty/
!linkfiles/.config/doom/
!linkfiles/.config/matplotlib/
!linkfiles/.config/nvim/
!linkfiles/.config/ipython/
linkfiles/.config/ipython/*
!linkfiles/.config/ipython/profile_*/
linkfiles/.config/ipython/profile_*/*
!linkfiles/.config/ipython/profile_*/ipython_config.py
!linkfiles/.config/ipython/profile_*/startup/
linkfiles/.config/ipython/profile_*/startup/*
!linkfiles/.config/ipython/profile_*/startup/*.py
linkfiles/.local/share/*
!linkfiles/.local/share/.gitignore
linkfiles/.cache/*
!linkfiles/.cache/.gitignore
linkfiles/scratch/*
!linkfiles/scratch/matlab-invective.txt
!linkfiles/scratch/spacemacs-quick-help.txt
!linkfiles/scratch/vim-options.txt
!linkfiles/scratch/promptline-hacks/
linkfiles/.task/*.data
.DS_Store
