[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "submodules/backports.shutil_get_terminal_size"]
	path = submodules/backports.shutil_get_terminal_size
	url = https://github.com/stefco/backports.shutil_get_terminal_size.git
[submodule "submodules/spacemacs"]
	path = submodules/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "submodules/source-code-pro"]
	path = submodules/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule "submodules/ranger"]
	path = submodules/ranger
	url = https://github.com/ranger/ranger.git
[submodule "submodules/iTerm2-Color-Schemes"]
	path = submodules/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "submodules/signal-cli"]
	path = submodules/signal-cli
	url = https://github.com/AsamK/signal-cli.git
[submodule "submodules/imessageclient"]
	path = submodules/imessageclient
	url = https://github.com/CamHenlin/imessageclient.git
[submodule "linkfiles/taskhistory"]
	path = linkfiles/.task
	url = git@github.com:stefco/taskhistory.git
