[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "submodules/backports.shutil_get_terminal_size"]
	path = submodules/backports.shutil_get_terminal_size
	url = git@github.com:stefco/backports.shutil_get_terminal_size.git
